<div>
  <div class="form-group">
    <label>Nom et prénom :</label>
    <div class="input-group">
      <input [(ngModel)]="client.nom" readonly class="form-control" />
      <input [(ngModel)]="client.prenom" readonly class="form-control" />
    </div>
  </div>
  <div>
    <table class="table">
      <tr>
        <th>Identifiant de l'achat :</th>
        <th>Produit :</th>
        <th>Quantité achetée :</th>
      </tr>
      <tr *ngFor="let a of commande">
        <td>{{ a.id_achat }}</td>
        <td>{{ a.id_produit?.nom }}</td>
        <td>{{ a.quantite }}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="client.statut === statutCommande.validee">
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="save('prete')"
    >
      Commande prête
    </button>
  </div>
  <div *ngIf="client.statut === statutCommande.prete">
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="save('recuperee')"
    >
      Commande récupérée
    </button>
  </div>
  <div>
    <a routerLink="/brasseur/clients" class="btn btn-outline-danger">Retour</a>
  </div>
</div>
