
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

#carousel{
  width: 500px;
  overflow: hidden;
}
.articles{
  margin-top: 30px;
  margin-left: 30px;
}
.articles .article{
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 30px;
}
.images {
  display: flex;
  animation-duration: 10s;
  width: 500px;
  animation-name: mesImages;
  animation-iteration-count: infinite ;

}

.articles .article .left img{
  height: 300px;
  width: 500px;
}
.articles .article .right {
  margin-left: 40px;
  max-width: 50%;
}
.articles .article .right p.name{
  color: #c94f4f;
}
.articles .article .right p.description{
  color: #2d2d2d;
}
.articles .article .right h1{
  color: #af8888;
}


@keyframes mesImages{
  0%{
    transform: translateX(0);
  }
  34%{
    transform: translateX(-500px)
  }
  67%{
    transform:translateX(-1000px) ;
  }
  100%{
    transform:translateX(0) ;
  }
}

@media screen and (max-width: 640px){
  body{
    margin: 10px 20px;
  }
  .articles .article .left img{
    height: 100%;
    width:100%;
  }
  .articles .article .right{
    margin: 0px;
    max-width: 100%;
  }
}
