<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Credit Card</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='carte-credit.component.css'>
  </head>
  <body>
		<div class="card-container">
		  <div class="card">
				<img class="chip" src="/src/assets/css/images/chip.svg"/>
				<img class="contactless" src="/src/assets/css/images/wifi-signal.svg"/>
				<img class="visa"src="/src/assets/css/images/visa.svg"/>
				<p class="card-number">0000 0000 0000 0000</p>
				<div class="arrow"></div>
				<p class="card-name">M John Doe</p>
				<p class="card-expire">Expire 05/23</p>
		  </div>
		</div>
  </body>
</html>
