<div class="form-control">
  Ancien mot de passe : <input type="password" />
  <br />
  <button class="btn btn-success">Valider</button>
</div>
<div class="form-control">
  Nouveau mot de passe : <input type="password" [(ngModel)]="newPassword" />
  <br />
  Confirmer le mot de passe :
  <input type="password" [(ngModel)]="confirmPassword" />
  <br />
  <button
    class="btn btn-success"
    [disabled]="newPassword === confirmPassword ? false : true"
    (click)="save(newPassword!)"
  >
    Valider
  </button>
</div>
