<h3 class="intro">Votre panier</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <td>Nom du produit :</td>
      <td>Quantité achetée :</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of achats">
      <td>{{ a.id_produit?.nom }}</td>
      <td>{{ a.quantite }}</td>

      <td>
        <button (click)="delete(a.id_achat!)" class="btn btn-danger">
          Supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="total">
  <h4>Total du panier :</h4>
  Vous avez actuellement {{ totalQuantite }} produit(s) dans votre panier pour
  un montant de {{ totalPrix }} €.
  <br />
  <a routerLink="/payer/achat" class="btn btn-warning">Procéder au paiement</a>
</div>
<br />
<span class="">Vous souhaitez poursuivre vos achats ?</span>
<br />
<a routerLink="/biere" class="btn btn-warning"
  >Consultez le catalogue de bières</a
>

<a routerLink="/snack" class="btn btn-warning placement"
  >Consultez le catalogue de snacks</a
>
