<a routerLink="/brasseur/clients" routerLinkActive="active" class="btn btn-link"
  >BDD client</a
>
<router-outlet></router-outlet>
<!-- <app-evenement-edit></app-evenement-edit> -->
<!-- <app-produit></app-produit> -->
<!-- <app-achat></app-achat> -->
<!-- <app-note></app-note> -->

<!-- <router-outlet></router-outlet> -->
<!-- <app-header></app-header>
 <app-evenement-edit></app-evenement-edit>
 <app-evenenement-list></app-evenenement-list>
 <app-footer></app-footer> -->
 <app-index></app-index>
<!-- <app-produit></app-produit> -->
<!-- <app-reservation-list></app-reservation-list> -->
<!--<app-ingredient-edit></app-ingredient-edit>
<app-ingredient-list></app-ingredient-list>-->
