<a routerLink="/brasseur/clients" routerLinkActive="active" class="btn btn-link"
  >BDD client</a
>

<a routerLink="/produit" routerLinkActive="active" class="btn btn-link"
  >BDD produits</a
>

<a routerLink="/note" routerLinkActive="active" class="btn btn-link"
  >BDD notes</a
>

<a routerLink="/achat" routerLinkActive="active" class="btn btn-link"
  >BDD achats</a
>

<a routerLink="/biere" routerLinkActive="active" class="btn btn-link"
  >Nos bières</a
>

<a routerLink="/snack" routerLinkActive="active" class="btn btn-link"
  >Nos snacks</a
>

<a routerLink="/note/client" routerLinkActive="active" class="btn btn-link"
  >Vos avis</a
>

<router-outlet></router-outlet>
<!-- <app-evenement-edit></app-evenement-edit> -->
<!-- <app-reservation-list></app-reservation-list> -->
