<!-- <a routerLink="/brasseur/clients" routerLinkActive="active" class="btn btn-link"
  >BDD client</a
>
<a routerLink="/reservationListClient" routerLinkActive="active" class="btn btn-link"
  >Liste de mes reservations</a
>

<a routerLink="/reservationList" routerLinkActive="active" class="btn btn-link"
  >Liste de toutes les reservations</a
>

<a routerLink="/login" routerLinkActive="active" class="btn btn-link"
  >Se connecter</a
> -->
<app-carte-credit></app-carte-credit>
<router-outlet></router-outlet>
<!-- <app-evenement-edit></app-evenement-edit> -->
<!-- <app-produit></app-produit> -->
<!-- <app-achat></app-achat> -->
<!-- <app-note></app-note> -->

<!-- <router-outlet></router-outlet> -->


 <!-- <app-evenement-edit></app-evenement-edit>
 <app-evenenement-list></app-evenenement-list> -->

<!-- <app-produit></app-produit> -->
<!-- <app-reservation-list></app-reservation-list> -->
<!--<app-ingredient-edit></app-ingredient-edit>
<app-ingredient-list></app-ingredient-list>-->
