<div>
  <div class="form-group">
    <label>Identifiant :</label>
    <input
      [(ngModel)]="reservation.id"
      readonly
      class="form-control"
      placeholder="Auto-génération"
    />
  </div>

  <div class="form-group">
    <label>Nom Client:</label>
    <input type="text" [(ngModel)]="client.nom" class="form-control" />
  </div>

  <div class="form-group">
    <label>Prenom du client :</label>
    <input type="text" [(ngModel)]="client.prenom" class="form-control" />
  </div>

  <div class="form-group">
    <label>Evenement :</label>
    <input type="number" [(ngModel)]="evt.libelle" class="form-control" />
  </div>
  <button (click)="save()" class="btn btn-outline-success">
    enregistrer
  </button>
  <a routerLink="" class="btn btn-outline-warning">annuler</a>
</div>

