<section id="footer">
  <div class="container">
    <header>
      <h2>Questions ou suggestions ? <strong>Contactez nous:</strong></h2>
    </header>
    <div class="row">
      <div class="col-6 col-12-medium">
        <section>
          <form method="post" action="#">
            <div class="row gtr-50">
              <div class="col-6 col-12-small">
                <input name="name" placeholder="Nom" type="text" />
              </div>
              <div class="col-6 col-12-small">
                <input name="email" placeholder="Email" type="text" />
              </div>
              <div class="col-12">
                <textarea name="message" placeholder="Message"></textarea>
              </div>
              <div class="col-12">
                <a
                  href="#"
                  class="form-button-submit button icon solid fa-envelope"
                  >Envoyer</a
                >
              </div>
            </div>
          </form>
        </section>
      </div>
      <div class="col-6 col-12-medium">
        <section>
          <p>
            Nous vous répondrons dans les plus brefs délais. Vous pouvez
            également nous joindre via notre téléphone ainsi que nos réseaux
            sociaux
          </p>
          <div class="row">
            <div class="col-6 col-12-small">
              <ul class="icons">
                <li>
                  <fa-icon [icon]="iconHome"></fa-icon> &nbsp; 7 rue François
                  Albert 44200 Nantes<br />
                </li>
                <li>
                  <fa-icon [icon]="iconTel"></fa-icon> &nbsp; 01 42 42 42 42
                </li>
                <li>
                  <a href="#"
                    ><fa-icon [icon]="iconMail"></fa-icon>
                    &nbsp;contact@aminagomo.fr</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-6 col-12-small">
              <ul class="icons">
                <li>
                  <fa-icon [icon]="iconInsta"></fa-icon>&nbsp;
                  <a href="#">instagram.com/Aminagomo44</a>
                </li>
                <li>
                  <fa-icon [icon]="iconTwitter"></fa-icon>&nbsp;
                  <a href="#">@aminagomo</a>
                </li>
                <li>
                  <fa-icon [icon]="iconFb"></fa-icon>&nbsp;
                  <a href="#">facebook.com/Aminagomo44</a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div id="copyright" class="container">
    <ul class="links">
      <li>&copy;All rights reserved.</li>
      <li>Design: <a href="http://html5up.net">GR3</a></li>
    </ul>
  </div>
</section>
