.ajoutNote {
  text-align: center;
  margin-top: 2%;
}

.btn {
  display: block;
  margin: auto;
  width: 10%;
}

.table {
  width: 80%;
  margin: auto;
}

.intro {
  text-align: center;
  margin-top: 3%;
}
