<table class="table">
  <tr *ngFor="let c of clients">
    <td>{{ c.id }}</td>
    <td>{{ c.nom }}</td>
    <td>{{ c.prenom }}</td>
    <td>{{ c.naissance | date: "dd/MM/yyyy" }}</td>
    <td>{{ c.mail }}</td>
    <td>{{ c.fidelite }}</td>
    <td>{{ c.statut }}</td>
    <td>
      <a [routerLink]="[]" routerLinkActive="active" class="btn btn-light">
        <fa-icon [icon]="iconPanier"></fa-icon>
      </a>
      <!-- à relier au getByClient de Achat -->
    </td>
    <td>
      <a
        [routerLink]="['/brasseur/clients', 'edit', c.id]"
        routerLinkActive="active"
        class="btn btn-outline-warning"
      >
        <fa-icon [icon]="iconModif"></fa-icon>
      </a>
    </td>
  </tr>
</table>
