<h3>Construction d'un avis</h3>

<div>
  <div class="form-group">
    <label>Identifiant :</label>
    <input [(ngModel)]="note.id_note" readonly class="form-control" />
  </div>

  <div class="form-group">
    <label>Client :</label>
    {{ clients.id }} - {{ clients.prenom }} {{ clients.nom }}
  </div>

  <div class="form-group">
    <label>Bière concernée :</label>
    <select [(ngModel)]="note.biere" class="form-control">
      <option *ngFor="let b of bieres" [ngValue]="b">
        {{ b.id }} - {{ b.nom }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>Note attribuée (sur 5) :</label>
    <input
      type="number"
      [(ngModel)]="note.note"
      class="form-control"
      min="0"
      max="5"
      step="0.5"
    />
  </div>

  <div class="form-group">
    <label>Commentaire attribué (100 caractères maximum):</label>
    <input
      type="text"
      [(ngModel)]="note.commentaire"
      class="form-control"
      maxlength="100"
    />
  </div>

  <div>
    <button (click)="save()" class="btn btn-outline-success">
      Enregistrer
    </button>
    <a
      [routerLink]="['/note/client', clients.id]"
      class="btn btn-outline-warning"
      >Annuler</a
    >
  </div>
</div>
