
<h3>Création evenement</h3>

<div>
  <div class="form-group">
    <label>Identifiant :</label>
    <input
      [(ngModel)]="evenement.id"
      readonly
      class="form-control"
      placeholder="Auto-génération"
    />
  </div>

  <div class="form-group">
    <label>Date:</label>
    <input type="date" [(ngModel)]="evenement.date" class="form-control" />
  </div>

  <div class="form-group">
    <label>Heure :</label>
    <input type="time" [(ngModel)]="evenement.heure" class="form-control" />
  </div>

  <div class="form-group">
    <label>libelle :</label>
    <input type="text" [(ngModel)]="evenement.libelle" class="form-control" />
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-xs-4 col-form-label">Password</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  <div class="form-group">
    <label>prix :</label>
    <input type="number" [(ngModel)]="evenement.prix" class="form-control" />
  </div>

  <div class="form-group">
    <label>Points Requis :</label>
    <input
      type="number"
      [(ngModel)]="evenement.ptsRequis"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label>description :</label>
    <input
    style='width:50%;'
      type="text"
      [(ngModel)]="evenement.description"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label>nombre de places :</label>
    <input
      type="number"
      [(ngModel)]="evenement.nbPlaces"
      class="form-control"
    />
  </div>

  <div>
    <button (click)="save()" class="btn btn-outline-success">
      Enregistrer
    </button>
    <a routerLink="/evenement" class="btn btn-outline-warning">Annuler</a>
  </div>
</div>
